.imgBg{
    width: 611px;
    height: 568px;
    margin: 0 auto;
    border-radius: 20px;
}

@media screen and (min-width:768px) and (max-width:1279px){
.imgBg{

   background-image: url('../../assets//img/homebgTablet.png');
   background-size: 704px;
    }
}

@media screen and (max-width:767px) {
    .imgBg {

        background-image: url('../../assets//img/homeBgMobile.png');
        width: 335px;
        height: 381px;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }
}