.btn{
    width: 43px;
    height: 43px;
    background-color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    border: none;
}
.btn:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}
.icon{
   color: var(--btn-tx-color);
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 767px) {
    .btn{
        width: 36px;
        height: 36px;
    }
}
