.wrapper{
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .decorationTabWrapper {
            position: relative;
            top: -30%;
            left: -20px;
        }
};





@media screen and (min-width: 768px) and (max-width:1279px) {
       .wrapper {
        height: 650px;
        margin-bottom: 20px;
    }
   
}

;