
.section{
    max-width: 1280px;
    margin: 0 auto;
}


.welcomePageWrapper{
    display: flex;
    flex-direction: column;
    gap:125px;
}
.wrapper{
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .section{
        margin-top: 96px;
    }
    .wrapper{
    flex-direction: column-reverse;
}};


